.button {    
    inline-size: 32px;
    block-size: 32px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position:center ;
    cursor: pointer;
}

.button:active{
    transform: scale(0.9);
}
#play{
    background-image: url('../assets/images/play.svg');
}
#pause{
    background-image: url('../assets/images/pause.svg');
}
#forward{
    background-image: url('../assets/images/+10.svg');
}
#backward{
    background-image: url('../assets/images/-10.svg');
}